.idea
bower_components
classes
node_modules
target
out
IAA-Hausarbeit.iml


#comment if change of file!
spring.xml

LibraryManagement.iml
database.trace.db
/src/main/webapp/static/css/app.min.css
/src/main/webapp/static/js/app.min.js

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
