<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
	<meta author="Tim Dekarz">
	<meta description="Form for sending secure information to customer">
	<title>Sicherer Mail-Versand</title>

	<!-- Materialize -->
	<link rel="stylesheet" href="/assets/materialize/dist/css/materialize.min.css">
	<!-- CDN Icons -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="/css/main.css">
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body class="grey lighten-3">

<nav class="red darken-2" role="navigation">
	<div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
		<ul class="right hide-on-med-and-down">
			<li><a href="#">Navbar Link</a></li>
		</ul>

		<ul id="nav-mobile" class="side-nav">
			<li><a href="#">Navbar Link</a></li>
		</ul>
		<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
	</div>
</nav>

<div class="container">

	<div class="section">
		{{#success}}
		<div class="row">
			<div class="col s12">
				<div class="card-panel green">
          			<span class="white-text">Die Daten wurden erfolgreich an den Kunden weitergeleitet</span>
				</div>
			</div>
		</div>
		{{/success}}
		{{#failure}}
		<div class="row">
			<div class="col s12">
				<div class="card-panel red">
					<span class="white-text">Es sind folgenden Fehler aufgetreten: </span>
					{{#errorList}}
						<span class="white-text error" data-field="{{field}}">{{error}}</span><br>
					{{/errorList}}
				</div>
			</div>
		</div>
		{{/failure}}
	</div>
	<div class="section">
		<div class="row">
			<form id="secureMail" action="/form" enctype="multipart/form-data" method="post">
				<div class="row card">
					<div class="col s10 offset-s1 card-content">
						<div class="row">
							<h5 class="card-title"><i class="material-icons left">account_circle</i> Kontakt</h5>
							<div class="input-field col s6">
								<select name="title" required>
									{{#titleUnselected}}
										<option value="" disabled selected>Anrede wählen</option>
										<option value="female">Frau</option>
										<option value="male">Herr</option>
									{{/titleUnselected}}
									{{#titleFemale}}
										<option value="" disabled>Anrede wählen</option>
										<option value="female" selected>Frau</option>
										<option value="male">Herr</option>
									{{/titleFemale}}
									{{#titleMale}}
										<option value="" disabled>Anrede wählen</option>
										<option value="female">Frau</option>
										<option value="male" selected>Herr</option>
									{{/titleMale}}
								</select>
								<label>Anrede*</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s6">
								<input id="firstName" name="firstName" type="text" class="validate" value="{{firstName}}" required>
								<label for="firstName" data-error="Bitte Vornamen eingeben">Vorname*</label>
							</div>
							<div class="input-field col s6">
								<input id="lastName" name="lastName" type="text" class="validate" value="{{lastName}}" required>
								<label for="lastName" data-error="Bitte Nachnamen eingeben">Nachname*</label>
							</div>
						</div>
					</div>
				</div>
				<div class="row card">
					<div class="col s10 offset-s1 card-content">
						<div class="row">
							<h5 class="card-title"><i class="material-icons left">email</i> Versand</h5>
							<div class="input-field col s6">
								<input id="email" name="email" type="email" class="validate" value="{{email}}" required>
								<label for="email" data-error="Bitte Mailadresse eingeben">E-Mail Adresse*</label>
							</div>
							<div class="input-field col s6">
								<input id="password" name="password" type="text" class="validate" value="{{password}}" required>
								<label for="password" data-error="Bitte Passwort eingeben">Passwort*</label>
							</div>
						</div>
					</div>
				</div>
				<div class="row card">
					<div class="col s10 offset-s1 card-content">
						<div class="row">
							<h5 class="card-title"><i class="material-icons left">label</i> Erfassung</h5>
							<div class="input-field col s6">
								<input id="taskId" name="taskId" type="number" class="validate" value="{{taskId}}" required>
								<label for="taskId" data-error="Bitte Vorgangsnummer eingeben">Vorgangsnummer*</label>
							</div>
							<div class="input-field inline col s6">
								<input id="contractId" name="contractId" type="number" class="validate" value="{{contractId}}" required>
								<label for="contractId"
									   data-error="Bitte Vertragsnummer eingeben">Vertragsnummer*</label>
							</div>
						</div>
					</div>
				</div>
				<div class="row card">
					<div class="col s10 offset-s1 card-content">
						<h5 class="card-title"><i class="material-icons left">mode_edit</i> Anschreiben</h5>
						<div class="input-field col s12">
							<input id="subject" name="subject" type="text" class="validate" value="{{subject}}" required>
							<label for="subject" data-error="Bitte Betreff eingeben">Betreff*</label>
						</div>
						<div class="input-field col s12">
							<textarea id="wysiwyg" name="message">{{message}}</textarea>
						</div>
					</div>
				</div>
				<div class="row card">
					<div class="col s10 offset-s1 card-content">
						<div class="row">
							<h5 class="card-title"><i class="material-icons left">note_add</i> Anhänge</h5>
							<div class="file-field input-field">
								<div class="btn-large red darken-4">
									<span>Dateien</span>
									<input type="file" name="uploads" multiple>
								</div>
								<div class="file-path-wrapper">
									<input class="file-path validate" type="text" placeholder="Fügen Sie ein oder mehrere Anhänge hinzu">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row section">
					<!-- test and show preview -->
					<button id="preview" formaction="/preview" class="waves-effect waves-light btn red darken-2">Vorschau<i class="material-icons right">note</i></button>

					<!-- SEND DIRECT (With Modal dialog -->
					<a class="waves-effect waves-light btn red darken-4" href="#confirm">Absenden<i class="material-icons right">send</i></a>

					<!-- Modal Structure -->
					<div id="confirm" class="modal">
						<div class="modal-content">
							<div id="confirmText">
								<h4>Bestätigung</h4>
								<p>Mit Absenden des Formulars werden die eingegebenen Daten verarbeitet und an die angegebene
									Mailadresse des Endkunden weitergeleitet. Bitte stellen Sie daher die Korrektheit der Daten
									sicher.</p>
							</div>
							<div id="pendingForm" hidden>
								<div class="progress">
									<div class="indeterminate"></div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button id="send" class="modal-action btn waves-effect waves-light red darken-4"
									type="submit" name="action">Absenden
								<i class="material-icons right">send</i>
							</button>
							<a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Abbrechen</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<footer class="page-footer red darken-4">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">Generali</h5>
				<p class="grey-text text-lighten-4">WLorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
					nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
					eos et accusam et justo duo dolores et ea rebum. </p>
			</div>
			<div class="col l3 s12">
				<h5 class="white-text">Settings</h5>
				<ul>
					<li><a class="white-text" href="#!">Link 1</a></li>
					<li><a class="white-text" href="#!">Link 2</a></li>
					<li><a class="white-text" href="#!">Link 3</a></li>
					<li><a class="white-text" href="#!">Link 4</a></li>
				</ul>
			</div>
			<div class="col l3 s12">
				<h5 class="white-text">Connect</h5>
				<ul>
					<li><a class="white-text" href="#!">Link 1</a></li>
					<li><a class="white-text" href="#!">Link 2</a></li>
					<li><a class="white-text" href="#!">Link 3</a></li>
					<li><a class="white-text" href="#!">Link 4</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			Made by GDIS
		</div>
	</div>
</footer>


<!-- jQuery -->
<script src="/assets/jquery/dist/jquery.min.js"></script>
<!-- LiveReload -->
<!-- [ONLY FOR DEV] -->
<script src="/assets/livereload-js/dist/livereload.js"></script>
<!-- Materialize -->
<script src="/assets/materialize/dist/js/materialize.min.js"></script>
<!-- RTF Editor (Tinyme) -->
<script src="/assets/tinymce/tinymce.min.js"></script>
<!-- Custom JS -->
<script src="/js/main.js"></script>
</body>
</html>
